footer.wrapper.footer#footer
    .container
        .footer__wrapper
            .footer__adress
                .footer__adress-item
                    span.footer__adress-title Адреса №1
                    .footer__location
                        i.fas.fa-map-marker-alt
                        span м.Хмельницький, Проскурівська 74/А
                    .footer__time
                        i.fas.fa-clock
                        span Пн-Пт: 9:00 - 20:00
                    .footer__phone
                        i.fas.fa-phone-alt
                        a(href="tel:+380006001204") +38 (000) 600-12-04
                        a(href="tel:+380006001204") +38 (000) 600-12-04
                    .footer__adress-img
                        img(src="img/img-footer-adress.jpg" alt="" data-object-fit="cover")
                    .footer__adress-map
                        img(src="img/map.jpg" alt="" data-object-fit="cover")
                .footer__adress-item
                    span.footer__adress-title Адреса №2
                    .footer__location
                        i.fas.fa-map-marker-alt
                        span м.Хмельницький, Інша Вулиця 12
                    .footer__time
                        i.fas.fa-clock
                        span Пн-Пт: 9:00 - 20:00
                    .footer__phone
                        i.fas.fa-phone-alt
                        a(href="tel:+380006001204") +38 (000) 600-12-04
                        a(href="tel:+380006001204") +38 (000) 600-12-04
                    .footer__adress-img
                        img(src="img/img-footer-adress.jpg" alt="" data-object-fit="cover")
                    .footer__adress-map
                        img(src="img/map.jpg" alt="" data-object-fit="cover")
            .footer__title
                h2.title.title--white Адреси
                h3.subtitle.subtitle--white будемо раді Вас бачити