header.wrapper.header#header
    .container
        .header__wrapper
            a(href="/").logo
                +icon("logo")
            .header__info
                .header__info-item
                    .header__tel
                        a(href="tel:+380006001204") +38 (000) 600-12-04
                    .header__reception
                        a(href="#").js-call
                            i.fas.fa-phone-alt
                            span Записатися на прийом
                .header__info-item
                    .header__location
                        i.fas.fa-map-marker-alt
                        span м.Хмельницький, Проскурівська 74/А
                    .header__time
                        i.fas.fa-clock
                        span 9:00 - 20:00
                .header__info-item
                    .header__soc
                        span Ми у мережі
                        .header__soc-wrapper
                            a(href="#").fab.fa-facebook-square
                            a(href="#").fab.fa-instagram-square
                            a(href="#").fab.fa-youtube-square
    .header__form
        form.form#form-3
            a(href="#").form__close.close-form
                +icon("ico-close")
            label.form__label
                span ваше ім’я
                input(type="name" name="name").form__input
            label.form__label
                span номер телефону
                input(type="tel" name="tel" placeholder="+38 (---) --- -- --" required).form__input
            input(type="submit" value="Передзвоніть мені").form__btn
