.banner
    .banner__slider#banner-slider
        .banner__slider-item.stock
            img(src="img/banner/img-banner-1.jpg" alt="" data-object-fit="cover").banner__img
            .banner__info-wrapper
                .container
                    .banner__info
                        i.stock__icon
                            +icon("stock")
                        h2.banner__title
                            b Пропозиція від
                            | &nbsp;
                            span Retina Services
                        span.banner__text There is now an option for single sign-on with your College membership account and e-LfH. If you have not already done so you need to first register for e-LfH.
                        .banner__btn
                            a(href="/") Детальніше
        .banner__slider-item
            img(src="img/banner/img-banner-2.jpg" alt="" data-object-fit="cover").banner__img
            .banner__info-wrapper
                .container
                    .banner__info
                        i.stock__icon
                            +icon("stock")
                        h2.banner__title
                            b Вибір
                            | &nbsp;
                            span Retina Services
                        span.banner__text Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                        .banner__btn
                            a(href="#") Детальніше
    a(href="#" data-slider="slickPrev").js-slider-arrow.banner__slider-arrow
        +icon('left')
    a(href="#" data-slider="slickNext").js-slider-arrow.banner__slider-arrow
        +icon('right')
.service
    .container
        .service__wrapper
            .service__title-wrapper
                h2.title Послуги
                h3.subtitle пропонуємо наступні послуги
            .service__info
                form.form#form-1
                    label.form__label
                        span ваше ім’я
                        input(type="name" name="name").form__input
                    label.form__label
                        span номер телефону
                        input(type="tel" name="tel" placeholder="+38 (---) --- -- --").form__input
                    input(type="submit" value="Записати на прийом").form__btn
                .service__block
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-1
                                +icon('service-1')
                            span Діагностика
                        span.service__block-text Although there is a separate Login for e-Learning for Healthcare, College Members may now LINK the two
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-2
                                +icon('service-2')
                            span Лінзи
                        span.service__block-text Single sign-on with your College membership account and e-LfH. If you have not already done so you need.
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-3
                                +icon('service-3')
                            span Дитяча офтальмологія
                        span.service__block-text If you have not already done so you need to first register for e-LfH. The next time you come to the College website
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-4
                                +icon('service-4')
                            span Аналітика стану ока
                        span.service__block-text The next time you come to the College website and login as a member a link will appear below which
                        a(href="#").service__block-link Докладніше
                    .service__block-item
                        .service__block-head
                            .service__block-icon.icon-5
                                +icon('service-5')
                            span Ще щось поки не відомо
                        span.service__block-text The next time you come to the College website and login as a member a link will appear below which
                        a(href="#").service__block-link Докладніше
.doctors
    .container
        .doctors__wrapper
            .doctors__title.mobile
                h2.title.title--white Лікарі
                h3.subtitle.subtitle--white завжди допоможуть і дадуть корисну рекомендацію
            .doctors__who
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-1.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Eyes Beholder
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-2.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Absolute Vision
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-3.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Aisee Jooy
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
                a(href="#").doctors__who-item
                    .doctors__who-img
                        img(src="img/doctors/doctors-4.png" alt="" data-object-fit="cover")
                    span.doctors__who-title Eynspector Dude
                    span.doctors__who-text лікар-офтальмолог
                    .doctors__who-fb
                        i.fab.fa-facebook-f
            .doctors__form
                h2.title.title--white Лікарі
                h3.subtitle.subtitle--white завжди допоможуть і дадуть корисну рекомендацію
                form.form#form-2
                    label.form__label
                        span ваше ім’я
                        input(type="name" name="name").form__input
                    label.form__label
                        span номер телефону
                        input(type="tel" name="tel" placeholder="+38 (---) --- -- --").form__input
                    input(type="submit" value="Передзвоніть мені").form__btn
.sun
    .container
        .sun__wrapper
            h2.title СОНЦЕЗАХИСНІ ОКУЛЯРИ
            h3.subtitle Ви можете у нас купити брендові окуляри
            .sun__glasses
                .sun__glasses-item
                    +icon("Ray-Ban")
                .sun__glasses-item
                    +icon("Pierre-cardin")
                .sun__glasses-item
                    +icon("MaxMara")
                .sun__glasses-item
                    +icon("Givenchy")
                .sun__glasses-item
                    +icon("Guess")
                .sun__glasses-item
                    +icon("Fendt")
                .sun__glasses-item
                    +icon("Gucci")
                .sun__glasses-item
                    +icon("DIOR")
                .sun__glasses-item
                    +icon("Carrera")
.reviews
    .container
        .reviews__wrapper
            h2.title Відгуки
            h3.subtitle що про нас пишуть люди
            .reviews__block#reviews-slider
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
                .reviews__item
                    .reviews__item-icon
                        +icon('ico-review')
                    span.reviews__item-title Eric Oakervahl
                    span.reviews__item-subtitle Ай-ТІ працівник
                    p.reviews__item-text Ms Richardson is a highly esteemed teacher of cataract surgery, with more than 26 years of training experience, having performed over 25 thousand cataracts, with a complication rate of less than 0.04 per cent.
                    a(href="#").reviews__item-link Читати все...
            .reviews__slider-arrows
                a(href="#" data-slider="slickPrev").js-reviews-arrow
                    +icon('left')
                a(href="#" data-slider="slickNext").js-reviews-arrow
                    +icon('right')