@font-face {
  font-family: 'montserratsemibold';
  src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  url('fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratitalic';
  src: url('fonts/montserrat-italic-webfont.woff2') format('woff2'),
  url('fonts/montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratmedium';
  src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
  url('fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  src: url('fonts/fa-brands-400.woff2') format('woff2'),
  url('fonts/fa-brands-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Free";
  src: url('fonts/fa-regular-400.woff2') format('woff2'),
  url('fonts/fa-regular-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Solid";
  src: url('fonts/fa-solid-900.woff2') format('woff2'),
  url('fonts/fa-solid-900.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$monster: 'montserratregular',Arial,Helvetica,sans-serif;
$monster700: 'montserratbold',Arial,Helvetica,sans-serif;
$monster500: 'montserratmedium',Arial,Helvetica,sans-serif;
$monster600: 'montserratsemibold',Arial,Helvetica,sans-serif;
$monster300: 'montserratlight',Arial,Helvetica,sans-serif;
$monsterIt: 'montserratitalic',Arial,Helvetica,sans-serif;