body {
  font-family: $monster;
  line-height: normal;
}

.page-wrapper {
  overflow: hidden;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
}

label.error {
  width: 100%;
  font-size: 12px;
  text-align: center;
  display: none;
  position: absolute;
  color: #FF9494;
  padding: 2px;
  left: 0;
  bottom: -16px;
}

.title {
  position: relative;
  font-family: $monster600;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: $purple;
  padding-bottom: 12px;
  margin-bottom: 16px;
  &:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  &--white {
    color: #ffffff;
    text-align: center;
    &:after {
      background-color: #ffffff;
    }
  }
}

.subtitle {
  font-family: $monster;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #737373;
  &--white {
    color: #ffffff;
    text-align: center;
  }
}

.form {
  position: relative;
  max-width: 326px;
  width: 100%;
  flex-shrink: 0;
  padding: 48px 38px 50px 38px;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    width: 270px;
    height: 270px;
    background-color: $yellow;
    opacity: .15;
    right: -135px;
    top: -135px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
  }
  &.submit {
    text-align: center;
    font-family: $monster600;
  }
  &__label {
    width: 100%;
    display: block;
    margin-bottom: 45px;
    position: relative;
    z-index: 2;
    span {
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 150%;
      font-family: $monster300;
      color: #000000;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    &:focus-within {
      span {
        font-family: $monster600;
        color: $purple;
      }
      input {
        border-color: $purple;
      }
    }
  }
  &__input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    line-height: 150%;
    font-family: $monster500;
    color: #000000;
    border-bottom: 1px solid #B3B3B3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 100%;
  }
  &__btn {
    background: linear-gradient(89.18deg, #70167d 0.09%, #6B4785 99.92%);
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    line-height: 150%;
    font-family: $monster700;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 6px 5px 3px;
    margin-top: 22px;
    position: relative;
    z-index: 2;
    &:hover {
      color: #000;
      background: $yellow;
    }
  }
  &__close {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 20px;
    top: 20px;
    &:hover {
      svg {
        fill: $purple;
      }
    }
    svg {
      fill: rgba(0,0,0,.8);
      -webkit-transition: fill 0.2s ease;
      transition: fill 0.2s ease;
    }
  }
}

.banner {
  position: relative;
  &__slider {
    z-index: 1;
  }
  &__slider-item {
    min-height: 590px;
    position: relative;
    z-index: 1;
    &.stock {
      .stock__icon {
        display: block;
      }
    }
  }
  &__slider-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $gray;
    color: #000;
    font-size: 12px;
    bottom: 58px;
    left: 38.3vw;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &[data-slider="slickNext"] {
      left: calc(38.3vw + 50px);
    }
    &:hover {
      background-color: $yellow;
    }
    svg {
      content: '';
      position: absolute;
      width: 8px;
      height: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
  &__info-wrapper {
    position: relative;
    z-index: 2;
  }
  &__info {
    position: relative;
    padding-top: 244px;
    max-width: 690px;
    padding-bottom: 58px;
    color: #fff;
  }
  &__title {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 24px;
    b {
      font-family: $monster700;
    }
    span {
      font-family: $monster300;
      font-weight: 300;
    }
  }
  &__text {
    display: inline-block;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 150%;
  }
  &__btn {
    a {
      color: #fff;
      font-size: 14px;
      line-height: 150%;
      font-family: $monster700;
      text-align: center;
      text-transform: uppercase;
      border: 2px solid $yellow;
      box-sizing: border-box;
      border-radius: 50px;
      padding: 7px 24px 6px;
      background-color: transparent;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &:hover {
        background-color: $yellow;
        color: #000;
      }
    }
  }
}

.stock {
  &__icon {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    width: 185px;
    height: 170px;
  }
}

.service {
  padding: 121px 0 37px;
  &__wrapper {
    padding: 0 113px 0 109px;
  }
  &__title-wrapper {
    text-align: center;
    margin-bottom: 95px;
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 475px);
    &:after {
      content: '';
      opacity: 0;
      height: 0;
      overflow: hidden;
      max-width: 208px;
      width: 100%;
    }
  }
  &__block-item {
    margin-bottom: 71px;
    max-width: 208px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__block-head {
    display: flex;
    align-items: center;
    min-height: 52px;
    margin-bottom: 34px;
    span {
      font-family: $monster700;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;
      color: #737373;
    }
  }
  &__block-icon {
    position: relative;
    flex-shrink: 0;
    margin-right: 20px;
    &.icon-1 {
      width: 52px;
      height: 52px;
    }
    &.icon-2 {
      width: 60px;
      height: 40px;
    }
    &.icon-3 {
      width: 44px;
      height: 55px;
    }
    &.icon-4 {
      width: 60px;
      height: 60px;
    }
    &.icon-5 {
      width: 56px;
      height: 57px;
    }
  }
  &__block-text {
    display: inline-block;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 160%;
    font-family: $monster300;
    color: #000000;
  }
  &__block-link {
    font-size: 14px;
    line-height: 160%;
    font-family: $monster500;
    text-decoration-line: underline;
    color: #594C95;
    &:hover {
      text-decoration: none;
    }
  }
}

.doctors {
  position: relative;
  background: linear-gradient(89.75deg, #70167d 0.09%, #6B4785 99.92%);
  padding: 110px 0 100px;
  height: 470px;
  margin-bottom: 0;
  & > .container {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/svg/doctors-bg.svg') no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  &__title {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 77px 0 42px;
  }
  &__who {
    display: flex;
  }
  &__who-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    max-width: 208px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 23px;
    flex-shrink: 0;
    perspective: 800px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: -5px 13px 11px rgba(0,0,0,0.3);
      .doctors__who-fb {
        background: $purple;
        i {
          color: #ffffff;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__who-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 5px solid #E6E6E6;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__who-title {
    font-size: 12px;
    line-height: 30px;
    font-family: $monster700;
    text-align: center;
    color: #000000;
  }
  &__who-text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
  &__who-fb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBEBEB;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    i {
      font-size: 12px;
      color: #000000;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  &__form {
    position: relative;
    top: -58px;
    display: flex;
    justify-content: center;
    max-width: 330px;
    width: 100%;
    flex-wrap: wrap;
    .subtitle {
      margin-bottom: 45px;
    }
    .form {
      &:after {
        right: auto;
        top: auto;
        left: -135px;
        bottom: -135px;
      }
    }
  }
}

.reviews {
  margin-bottom: 125px;
  .title:after {
    left: 0;
    transform: translateX(0);
  }
  .subtitle {
    margin-bottom: 48px;
  }
  &__wrapper {
    position: relative;
    padding-bottom: 94px;
  }
  &__item {
    display: flex!important;
    flex-shrink: 0;
    width: 327px;
    margin-right: 32px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__item-icon {
    margin-bottom: 32px;
    position: relative;
    width: 56px;
    height: 47px;
  }
  &__item-title {
    display: inline-block;
    font-family: $monster700;
    font-size: 12px;
    line-height: 30px;
    color: #000000;
  }
  &__item-subtitle {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 25px;
  }
  &__item-text {
    font-family: $monsterIt;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 9px;
  }
  &__item-link {
    font-size: 16px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #594C95;
    &:hover {
      text-decoration: none;
    }
  }
  &__slider-arrows {
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    a {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $gray;
      color: #000;
      font-size: 12px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover {
        background-color: $yellow;
      }
      svg {
        content: '';
        position: absolute;
        width: 8px;
        height: 12px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.sun {
  padding: 110px 0 60px;
  background-color: #F7F7F7;
  margin-bottom: 59px;
  &__wrapper {
    padding: 67px 52px 90px;
    background-color: #ffffff;
  }
  .title,
  .subtitle {
    text-align: center;
  }
  .subtitle {
    margin-bottom: 67px;
  }
  &__glasses {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__glasses-item {
    width: 100px;
    height: 40px;
    position: relative;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}



