@media screen and (max-width: 1400px) {
  .footer__adress-item {
    max-width: 380px;
  }
  .footer__title {
    padding-left: 0;
  }
  .service {
    padding: 80px 0 30px;
  }
  .service__wrapper {
    padding: 0;
  }
  .service__title-wrapper {
    margin-bottom: 60px;
  }
  .service__block {
    width: calc(100% - 400px);
  }
  .doctors > .container {
    max-width: 100%;
  }
  .doctors__wrapper {
    padding: 0 30px 0 0;
  }
  .doctors__who-item {
    max-width: 200px;
  }
  .doctors__who-item:not(:last-child) {
    margin-right: 25px;
  }
  .doctors {
    padding: 80px 0;
  }
  .sun {
    padding: 80px 0 60px;
  }
}
@media screen and (max-width: 1280px) {
  .doctors {
    height: auto;
  }
  .doctors__form {
    .title,
    .subtitle {
      display: none;
    }
  }
  .doctors__title.mobile {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .doctors__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .doctors__who {
    width: 100%;
  }
  .doctors__who {
    justify-content: center;
  }
  .doctors__form {
    top: 0;
  }
  .doctors__who {
    margin-bottom: 40px;
  }
  .reviews {
    margin-bottom: 80px;
  }
  .reviews__wrapper {
    padding-bottom: 80px;
  }
  .sun {
    padding: 60px 0;
  }
  .sun__wrapper {
    padding: 50px 15px 50px;
  }
  .sun__glasses-item svg {
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 30px 0;
  }
  .logo {
    width: 140px;
    height: 50px;
  }
  .header__tel {
    margin-bottom: 0;
    padding-top: 0;
  }
  .header__location, .header__time {
    padding-top: 0;
  }
  .header__location {
    margin-bottom: 5px;
  }
  .header__info-item:not(:last-child) {
    margin-right: 40px;
  }
  .header__info-item:first-child {
    margin-right: 40px!important;
  }
  .header__soc a:not(:last-child) {
    margin-right: 20px;
  }
  .header__wrapper {
    padding-right: 0;
    align-items: center;
  }
  .header__soc a {
    line-height: 1;
  }
  .header__soc span {
    margin-bottom: 9px;
  }
  .footer__adress-item {
    max-width: 300px;
  }
  .footer__location, .footer__time {
    display: block;
  }
  .footer__phone {
    display: block;
  }
  .banner__slider-item {
    min-height: 520px;
  }
  .banner__info {
    position: relative;
    padding-top: 155px;
    max-width: 60%;
  }
  .stock__icon {
    top: 16px;
    width: 130px;
    height: 121px;
  }
  .banner__title {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .service__block {
    width: 100%;
  }
  .service__info {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .service__block-item {
    margin-bottom: 50px;
    max-width: 300px;
    padding-right: 30px;
  }
  .service__block-head {
    margin-bottom: 20px;
  }
  .service__block:after {
    max-width: 300px;
  }
  .service {
    padding: 80px 0;
  }
}
@media screen and (max-width: 991px) {
  .header__tel a {
    font-size: 18px;
  }
  .header__info {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header__info-item:last-child {
    width: 100%;
    padding-top: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header {
    padding: 20px 0;
  }
  .header__info-item:not(:last-child) {
    margin-right: 0;
  }
  .logo {
    width: 160px;
    height: 56px;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 18px;
  }
  .footer__title {
    padding: 0;
    margin-bottom: 30px;
  }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__adress {
    justify-content: center;
  }
  .footer__adress-item {
    max-width: 47%;
  }
  .stock__icon {
    top: 20px;
    width: 110px;
    height: 100px;
  }
  .banner__slider-item {
    min-height: 520px;
  }
  .slick-track {
    display: flex;
  }
  .banner__info {
    position: relative;
    max-width: 64%;
    padding-top: 134px;
    padding-bottom: 100px;
  }
  .banner__slider-arrow {
    left: 15px;
    bottom: 20px;
  }
  .banner__slider-arrow[data-slider="slickNext"] {
    left: 65px;
  }
  .banner__info {
    padding-bottom: 90px;
  }
  .service {
    padding: 40px 0;
  }
  .service__block-item {
    margin-bottom: 40px;
    max-width: calc(50% - 8px);
    padding-right: 0;
  }
  .service__title-wrapper {
    margin-bottom: 40px;
  }
  .doctors__who {
    margin-bottom: 40px;
  }
  .doctors {
    padding: 40px 0;
  }
  .doctors__who {
    justify-content: space-between;
  }
  .doctors__who-item:not(:last-child) {
    margin-right: 0;
  }
  .doctors__who-item {
    max-width: calc(25% - 10px);
    padding: 20px;
  }
  .reviews {
    margin-bottom: 40px;
  }
  .sun {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .sun__wrapper {
    padding: 40px 15px 40px;
  }
  .sun .subtitle {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header__info {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .header__info-item:first-child {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  .header__info-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__tel {
    text-align: center;
    margin-bottom: 3px;
  }
  .header__info-item:last-child {
    width: 100%;
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
  }
  .header__info-item {
    text-align: center;
  }
  .header__location, .header__time {
    justify-content: center;
  }
  .header__soc span {
    margin-bottom: 6px;
  }
  .header__soc a {
    font-size: 28px;
  }
  .header__wrapper {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 18px;
  }
  .footer__adress {
    justify-content: space-between;
  }
  .footer__adress-item:not(:last-child) {
    margin-right: 0;
  }
  .footer__adress-item {
    max-width: calc(50% - 8px);
  }
  .footer {
    padding: 30px 0;
  }
  .stock__icon {
    top: auto;
    bottom: 20px;
    left: auto;
    right: 15px;
  }
  .banner__slider-item {
    min-height: 380px;
  }
  .banner__info {
    position: static;
    max-width: 60%;
    padding-top: 20px;
  }
  .banner__title {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .banner__img {
    z-index: -1;
  }
  .banner__info-wrapper {
    position: static;
  }
  .banner__text {
    font-size: 18px;
  }
  .banner__slider-item.stock .stock__icon {
    display: block;
    filter: drop-shadow(2px 4px 6px black);
  }
  .service {
    padding: 30px 0;
  }
  .service__block-item {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .service__block-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .service__block-head span {
    font-size: 16px;
  }
  .service__title-wrapper {
    margin-bottom: 30px;
  }
  .doctors__who {
    flex-wrap: wrap;
  }
  .doctors__who {
    margin-bottom: 40px;
  }
  .doctors {
    padding: 40px 0;
  }
  .doctors__who {
    justify-content: space-between;
  }
  .doctors__who-item:not(:last-child) {
    margin-right: 0;
  }
  .doctors__who-item {
    padding: 20px;
    max-width: calc(50% - 8px);
    margin-bottom: 15px;
  }
  .reviews {
    margin-bottom: 40px;
  }
  .reviews .subtitle {
    margin-bottom: 30px;
  }
  .reviews__item-icon {
    margin-bottom: 20px;
  }
  .sun__glasses {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .sun__glasses-item {
    margin: 10px;
  }
  .sun__glasses-item svg {
    width: 100%;
  }
}
@media screen and (max-width: 543px) {
  .header__info-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .reviews .title:after {
    left: 50%;
    transform: translateX(-50%);
  }
  .header__location span, .header__time span {
    margin-left: 10px;
  }
  .footer__adress {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .footer__adress-item {
    max-width: 100%;
  }
  .footer__adress-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .banner__info {
    max-width: 100%;
    padding-top: 30px;
  }
  .banner__title {
    font-size: 28px;
  }
  .banner__slider-item {
    min-height: 320px;
    background: #000000;
  }
  .banner__img {
    opacity: .8;
  }
  .doctors {
    padding: 30px 0;
  }
  .doctors__who-item {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .doctors__who {
    margin-bottom: 15px;
  }
  .reviews__wrapper {
    padding-bottom: 55px;
  }
  .reviews {
    margin-bottom: 30px;
  }
  .reviews__item-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  .reviews__item-subtitle {
    margin-bottom: 15px;
  }
  .reviews__item {
    margin-right: 0;
  }
  .form {
    padding: 40px 30px;
  }
  .form__label span {
    font-size: 14px;
  }
  .form__input {
    font-size: 14px;
  }
  .sun__glasses-item {
    margin: 15px 10px;
  }
  .sun {
    padding: 30px 0;
  }
  .sun__wrapper {
    padding: 30px 15px 30px;
  }
  .sun .subtitle {
    margin-bottom: 30px;
  }
  .sun .title {
    font-size: 30px;
  }
  .sun {
    margin-bottom: 30px;
  }
}