.footer {
  position: relative;
  background: linear-gradient(89.75deg, #70167d 0.09%, #6B4785 99.92%);
  overflow: hidden;
  padding: 50px 0;
  & > .container {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 707px;
    height: 647px;
    background: url('../img/svg/footer.svg') no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  &__wrapper {
    display: flex;
  }
  &__adress {
    display: flex;
    flex-shrink: 0;
  }
  &__adress-item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 447px;
    width: 100%;
    padding: 25px 20px 20px;
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__adress-title {
    display: inline-block;
    font-family: $monster700;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
  }
  &__location,
  &__time {
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    i {
      font-weight: 900;
      color: $gray;
    }
    span {
      margin-left: 9px;
      font-family: $monster300;
      color: #000;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    i {
      display: inline-block;
      font-weight: 900;
      font-size: 14px;
      line-height: 150%;
      color: #BDBCC2;
      margin-right: 6px;
    }
    a {
      display: inline-block;
      font-family: $monster300;
      font-size: 14px;
      line-height: 150%;
      color: #000000;
      &:hover {
        text-decoration: underline;
      }
      &:not(:last-child) {
        margin-right: 17px;
      }
    }
  }
  &__adress-img {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__adress-map {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    display: flex;
    padding-left: 70px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}