.header {
  position: relative;
  padding: 32px 0 27px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  &__info {
    display: flex;
  }
  &__info-item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 87px;
    }
    &:first-child {
      margin-right: 78px;
    }
  }

  &__tel  {
    margin-bottom: 3px;
    padding-top: 5px;
    a {
      display: inline-block;
      font-family: $monster500;
      font-size: 20px;
      line-height: 150%;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__reception {
    a {
      display: flex;
      align-items: center;
      color: $purple;
      font-size: 14px;
      line-height: 150%;
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
    i {
      font-weight: 900;
    }
    span {
      display: inline-block;
      font-family: $monster500;
      text-decoration-line: underline;
      margin-left: 12px;
    }
  }
  &__location {
    margin-bottom: 2px;
  }
  &__location,
  &__time {
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    padding-top: 5px;
    i {
      font-weight: 900;
      color: $gray;
    }
    span {
      margin-left: 16px;
      font-family: $monster300;
      color: #000;
    }
  }
  &__soc {
    display: flex;
    flex-direction: column;
    span {
      display: inline-block;
      font-family: $monster300;
      font-size: 12px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 2px;
    }
    a {
      font-weight: normal;
      font-size: 24px;
      line-height: 150%;
      color: $gray;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &:hover {
        color: $purple;
      }
      &:not(:last-child) {
        margin-right: 39px;
      }
    }
  }
  &__form {
    display: flex;
    padding: 40px 0;
    opacity: 0;
    transform: translateY(calc(-100% - 100px));
    position: fixed;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,.3);
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      left: 0;
      bottom: -100px;
      background: rgba(0,0,0,0.3);
      background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.3)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.logo {
  display: inline-block;
  width: 177px;
  height: 61px;
  flex-shrink: 0;
  position: relative;
}

